.divBusca {
  display: flex;
  align-items: center;
  border:solid 1px #8E8CA3;
  border-radius:15px;
  width:300px;
  height: 30px;
}

.icon {
  margin: 8px 12px 8px 12px;
  color: #8E8CA3;
}

.txtBusca {
  background-color:transparent;
  outline: none;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:20px;
  width:260px;
}